In [3]:
import pandas as pd
import numpy as np
import random as rd

# Define the number of creatures
num_creatures = 100

# Define the creature types
creature_types = ['Dragon', 'Unicorn', 'Griffin', 'Phoenix', 'Mermaid', 'Centaur']

# Generate random data
data = {
    'creature_name': ['Creature' + str(i) for i in range(num_creatures)],
    'creature_type': np.random.choice(creature_types, num_creatures),
    'age': np.random.randint(1, 1000, num_creatures),
    'health_status': np.random.choice(['Excellent', 'Good', 'Fair', 'Poor'], num_creatures),
    'magical_ability_score': np.random.randint(0, 101, num_creatures)
}

# Create a DataFrame
df = pd.DataFrame(data)

In [5]:
df.head(10)

  creature_name creature_type  age health_status  magical_ability_score
0     Creature0       Griffin  710     Excellent                     22
1     Creature1       Phoenix  877     Excellent                     93
2     Creature2       Mermaid  998          Good                     59
3     Creature3       Centaur  751          Poor                     99
4     Creature4       Centaur  331     Excellent                     23
5     Creature5        Dragon  714          Fair                     53
6     Creature6       Phoenix  298          Poor                     89
7     Creature7       Mermaid  175          Fair                     57
8     Creature8       Phoenix   41     Excellent                     13
9     Creature9       Phoenix  708     Excellent                     47

In [6]:
df.tail(10)

   creature_name creature_type  age health_status  magical_ability_score
90    Creature90       Unicorn  598          Poor                     78
91    Creature91       Phoenix  580          Poor                     78
92    Creature92       Phoenix  477          Good                     32
93    Creature93       Griffin  693          Good                     68
94    Creature94       Unicorn  792          Poor                     28
95    Creature95       Unicorn  614     Excellent                     68
96    Creature96       Griffin  709          Poor                     52
97    Creature97       Mermaid  665          Good                     34
98    Creature98       Phoenix  494          Good                     54
99    Creature99       Mermaid   92          Poor                     81